$main-blue: rgb(27, 76, 120);
$darker-blue: rgb(17, 51, 80);

button {
    background-color: $main-blue;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid $main-blue;
    padding: 0.5em 1em;
    border-radius: 10px;
    &:hover {
        background-color: $darker-blue;
    }
    &:active {
        color: rgb(255, 208, 0);
    }
}
.winnerHeading {
    font-size: 2em;
    padding: 0 0.5em;
}
.partyHat {
    width: 100%;
    height: auto;
    &.left {
        transform: scaleX(-1);
    }
}
.imgContainer {
    width: 100px;
}
.modal {
    position: absolute;
    top: 35vh;
    left: 20vh;
    height: 20vh;
    border-radius: 1em;
    width: 60vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.75);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.35);
}
